<script src="http://js.pusher.com/2.0/pusher.min.js"></script>

<script type="text/javascript">
  var pusher = new Pusher('<%= Pusher.key %>'); // uses your APP KEY
  var channel = pusher.subscribe('arrivals');
  
  channel.bind('new_arrival', function(data) {
    alert(data.arrival_time);
  });
</script>

<h1>Listing arrivals</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @arrivals.each do |arrival| %>
  <tr>
    <td><%= link_to arrival.created_at.to_s(:long), arrival %></td>
    <td><%= link_to 'Edit', edit_arrival_path(arrival) %></td>
    <td><%= link_to 'Destroy', arrival, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Arrival', new_arrival_path %>
